/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#aboutDialog {
  background: linear-gradient(135deg, #000000 0%, #1a3a1a 50%, #264d26 100%);
  color: #fbfbfe;
}

#aboutDialogContainer {
  background-color: transparent;
  color: #fbfbfe;
}

#clientBox {
  padding: 10px 0 15px;
}

#leftBox {
  /* Hide the logo image */
  background: none;
  min-width: 0;
  min-height: 0;
  margin: 0;
}


.text-link {
  color: #fbfbfe !important;
  text-decoration: underline;
}

#rightBox {
  background-size: auto 64px;
  margin-inline: 30px;
  padding-top: 64px;
}

#bottomBox {
  background-color: transparent;
  padding: 15px 10px 15px;
}
